body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  text-decoration: none;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

.title-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  height: 72px;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-header {
  display: flex;
}

.title-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration-line: none;
}
.title-name:active {
  color: #404bbf;
}

.title-name-part {
  color: #2e2f42;
}

.title-name-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  padding-left: 0;
}

.title-name-link-first {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: #404bbf;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.title-name-link {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.title-name-link-first::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

.title-name-link:hover {
  color: #404bbf;
}

.title-name-link:focus {
  color: #404bbf;
}

.address-contact-list {

  padding-left: 0;
  display: flex;
  margin: auto;
  gap: 40px;
}

.address-contact {
  font-style: normal;
}

.address-contact-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.address-contact-link:hover {
  color: #404bbf;
}
.address-contact-link:focus {
  color: #404bbf;
}

.section-title {
  margin: 0 auto;
  max-width: 1440px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(.././images/peopleoffice1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.section-title-name {
  margin: 0 auto 40px auto;
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.button-type {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  margin: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
}
.button-type:hover {
  background-color: #404bbf;
}
.button-type:focus {
  background-color: #404bbf;
}

.section-title-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 120px 0;
  margin: 0;
}

.first-container-svg-images {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  border-radius: 4px;
  width: 264px;
  height: 112px;
}

.main-title-list {
  padding-left: 0;
  display: flex;
  gap: 24px;
}

.main-title-list-li {
  width: calc((100% - 72px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-title-page {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-title-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-title-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.main-title-team {
  margin-bottom: 72px;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.main-title-team-ul {
  margin: auto;
  padding-left: 0;
  display: flex;
  gap: 24px;
}

.main-title-team-list:nth-child(1) {
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);;
}

.main-title-team-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.name-person-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 32px 0;
}

.social-links {
  margin: 0;
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.social-links-list {
    width: 40px;
    height: 40px;
}

.links {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
}

.links:hover,
.links:focus {
    background-color: #404bbf;
}

.icons {
    fill: #f4f4fd;
}

.name-persons {
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.job-persons {
  margin-bottom: 8px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-portolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-portfolio {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
  padding-left: 0;
}

.photo-images {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 48px) / 3);
}

.photo-images:hover {
  transform: translateY(0%);
}

.photo-images > img {
  background: #fff;
}

.image-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.container-images {
  position: relative;
  overflow: hidden;
}

.text-hover {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%; 
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.main-portfolio-title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.photo-images:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.main-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.photo-images:hover .text-hover {
  transform: translateX(0);
}

.footer-page {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-name {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.part-title-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.text-social-media {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.flex-container {
  display: flex;
  align-items: baseline;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-name-container {
  margin-right: 120px;
}

.footer-social-links {
  padding-left: 0;
  display: flex;
  gap: 16px;
}

.links-social-list {
  width: 40px;
  height: 40px;
}

.second-links {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.second-links:hover,
.second-links:focus {
background-color: #31d0aa;
}

.footer-links-container {
  margin-right: 80px;
}







.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  
  .modal-window {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  }
  
  .button-modal-window {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button-modal-window:hover,
  .button-modal-window:focus {
    background-color: #404bbf;
    border: none;
  }
  
  .button-modal-window:hover .icon-exit, 
  .button-modal-window:focus .icon-exit {
    fill: #ffffff;
  }
  
  .icon-exit {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .text-overlay {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
  }
  
  .input-container {
  margin-bottom: 8px;
  width: 100%;
  }
  
  .modal-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
  }
  
  .input-svg-container {
    position: relative;
  }
  
  .input-text {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .input-text:focus-within {
    border-color: #4D5AE5;
  }
  
  .input-text:focus-within + .icon-overlay {
    fill: #4D5AE5;
  }
  
  .icon-overlay {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .textarea-container {
    margin-bottom: 16px;
    width: 100%;
  }
  
  .modal-textarea {
    width: 100%;
    height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-textarea:focus {
    border-color: #4D5AE5;
  }
  
  .checkbox-container {
    margin-bottom: 24px;
  }
  
  .checkbox-label {
    font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  }
  
  .privacy-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  }
  
  .privacy-link {
    color: #4d5ae5;
  }

  input[type="checkbox"]:checked + .checkbox-label > .privacy-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }
  
  .modal-button {
    display: block;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-button:hover,
  .modal-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: #404bbf;
  }
  
  .button-container {
    width: 100%;
  }








.text-subscribe {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}

.form-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.footer-input-email {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: transparent;


  border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
}

.last-icon {
  margin-left: 16px;
}

.footer-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
padding: 8px 24px;
min-width: 165px;
height: 40px;
background-color: #4D5AE5;
color: #ffffff;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover, 
.footer-button:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #404bbf;
}